---
import "@/styles/global.css";
import "@fontsource-variable/m-plus-1-code";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Okhuysen Dev</title>
    <meta
      name="google-site-verification"
      content="5fVEbZ5cWkQ4WsrEX_ez1qHuDPAdl9IlDJ75I9X81Lw"
    />
  </head>
  <body class="max-w-4xl mx-auto">
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    background-color: black;
  }
  body {
    font-family: "M PLUS 1 Code Variable", monospace;
  }
</style>
