---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import "@fontsource-variable/m-plus-1-code";

const URL = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Okhuysen Dev</title>
    <meta
      name="google-site-verification"
      content="5fVEbZ5cWkQ4WsrEX_ez1qHuDPAdl9IlDJ75I9X81Lw"
    />
    <ClientRouter />
  </head>
  <body class="max-w-4xl mx-auto text-black bg-white px-6">
    <slot />
    <footer>
      <section
        class="flex justify-between items-center py-6 mt-6 border-t border-gray-200"
      >
        <p class="text-gray-600">
          {new Date().getFullYear()} Okhuysen Dev.
        </p>
        <p class="text-gray-500 text-sm">
          {URL === "/en/" ? "Made with ❤️ " : "Hecho con ❤️ "}
        </p>
      </section>
    </footer>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "M PLUS 1 Code Variable", monospace;
  }
</style>
